@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
html {
  font-size: 62.5%;
}

* {
  font-family: "Fira Code", monospace;
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
}
a {
  cursor: pointer !important;
}
.bubble {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Uniform size */
  height: 40px; /* Uniform size */
  background: #333;
  border-radius: 50%;
  transition: opacity 0.5s, width 0.5s, height 0.5s, border-radius 0.5s,
    visibility 0.5s;
  z-index: 1;
  animation: wave 1.5s infinite ease-in-out; /* Faster wave animation */
}

/* Hide all bubbles */
.bubble.hidden {
  opacity: 0;
  visibility: hidden;
  transform: scale(0); /* Reduce size to zero */
}

/* Specific styles for the search icon bubble */
.bubble.searchIcon {
  width: 40px; /* Ensure consistency */
  height: 40px; /* Ensure consistency */
  border-radius: 50%;
  background: #333;
  z-index: 2;
}

/* Animation styles */
@keyframes wave {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Move up */
  }
  100% {
    transform: translateY(0); /* Move down */
  }
}

/* Apply staggered animation delay to create wave effect */
.bubble:nth-child(1) {
  animation-delay: 0s;
}
.bubble:nth-child(2) {
  animation-delay: 0.2s;
}
.bubble:nth-child(3) {
  animation-delay: 0.4s;
}
.bubble:nth-child(4) {
  animation-delay: 0.6s;
}
.bubble:nth-child(5) {
  animation-delay: 0.8s;
}
.bubble:nth-child(6) {
  animation-delay: 1s;
}

/* Input field styling */
.inputSearch {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  /* Adjust to fill the space of the bubbles */
  height: 40px; /* Match bubble size */
  border-radius: 10px;
  background: #b92121;
  color: #f9f9f9;
  position: absolute;
  left: 0;
  border: none;
  padding: 0 10px;
  box-sizing: border-box;
  z-index: 2; /* Ensure it overlays correctly */
  transition: opacity 0.5s, visibility 0.5s; /* Smooth transition */
  visibility: hidden; /* Hide by default */
  opacity: 0;
  @media screen and (min-width: 600px) {
    width: 100%;
  }
}

/* Show input field when needed */
.inputSearch.show {
  visibility: visible;
  opacity: 1;
}

/* Placeholder text styling */
.inputSearch::placeholder {
  color: white;
}

/* Responsive styles for mobile */
@media (max-width: 600px) {
  .bubble {
    width: 30px; /* Further reduce size on mobile */
    height: 30px; /* Further reduce size on mobile */
  }
  .bubble.searchIcon {
    width: 30px; /* Further reduce size on mobile */
    height: 30px;
  }
  .inputSearch {
    height: 30px; /* Adjusted to match bubble size */
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out;
}

@layer components {
  .btn-primary {
    @apply bg-indigo-500 hover:bg-indigo-600 text-white font-bold py-2 px-4 rounded;
  }
}

.ant-drawer-body {
  padding: 0 !important;
}
.category-item-link {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 14.08px;
  position: relative;
  /* display: inline-block; */
}
